body {
    background-color: #dfdede;
}

ul {
    list-style: none;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
    padding: 10px 0;
}

ul li.active,
ul li:hover {
    opacity: 1;
}

ul li {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;

}

ul li:nth-child(1) {
    background-color: red;
}

ul li:nth-child(2) {
    background-color: blue;
}

ul li:nth-child(3) {
    background-color: green;
}

ul li:nth-child(4) {
    background-color: black;
}

.box {
    background-color: red;
    width: 50%;
    height: 250px;
    margin: 20px auto;
}